#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@theme {
  /* Primary Colors */
  --color-mint-500: #8fb8c3;
  --color-blue-500: #689fae;
  --color-blue-100: #eefbff;
  --color-blue-400: #33ccff;
  --color-blue-600: #337fff;
  --color-discord: #5865f2;
  --color-primary: #4b48ec;
  --color-primary-hover: #2522e7;
  --color-primary-light: #f5f5ff;

  /* Background Colors */
  --color-background-50: #f9f9f9;
  --color-background-0: #ffffff;
  --color-background-100: #f6f6f6;
  --color-background-200: #f5f5f5;

  /* Text Colors */
  --color-text-900: #000000;
  --color-text-600: #666666;
  --color-text-400: #939393;
  --color-text-200: #d9d9d9;

  /* Status Colors */
  --color-success-500: #10bc4c;
  --color-success-100: #e7ffef;
  --color-error-500: #ee1d52;
}
